LOCATE COMP "ext_clk" SITE "B6";
IOBUF PORT "ext_clk" IO_TYPE=LVCMOS33;

# GPIO5
LOCATE COMP "ext_rst_n" SITE "T3";
IOBUF PORT "ext_rst_n" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uart0_txd" SITE "A7";
LOCATE COMP "uart0_rxd" SITE "B8";

IOBUF PORT "uart0_txd" IO_TYPE=LVCMOS33;
IOBUF PORT "uart0_rxd" IO_TYPE=LVCMOS33;

LOCATE COMP "ddram_a[0]"  SITE "J1";
LOCATE COMP "ddram_a[1]"  SITE "K1";
LOCATE COMP "ddram_a[2]"  SITE "G2";
LOCATE COMP "ddram_a[3]"  SITE "H2";
LOCATE COMP "ddram_a[4]"  SITE "F1";
LOCATE COMP "ddram_a[5]"  SITE "G1";
LOCATE COMP "ddram_a[6]"  SITE "J4";
LOCATE COMP "ddram_a[7]"  SITE "J3";
LOCATE COMP "ddram_a[8]"  SITE "J5";
LOCATE COMP "ddram_a[9]"  SITE "K3";
LOCATE COMP "ddram_a[10]" SITE "K2";
LOCATE COMP "ddram_a[11]" SITE "H1";
LOCATE COMP "ddram_a[12]" SITE "M5";
LOCATE COMP "ddram_a[13]" SITE "K4";
LOCATE COMP "ddram_a[14]" SITE "L4";
IOBUF PORT "ddram_a[0]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[1]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[2]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[3]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[4]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[5]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[6]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[7]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[8]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[9]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[10]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[11]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[12]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[13]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[14]" IO_TYPE=SSTL135_I SLEWRATE=FAST;

LOCATE COMP "ddram_ba[0]" SITE "K5";
LOCATE COMP "ddram_ba[1]" SITE "L5";
LOCATE COMP "ddram_ba[2]" SITE "M1";
LOCATE COMP "ddram_cas_n" SITE "N2";
LOCATE COMP "ddram_cs_n"  SITE "P5";
LOCATE COMP "ddram_dm[0]" SITE "R20";
LOCATE COMP "ddram_dm[1]" SITE "N18";
LOCATE COMP "ddram_dm[2]" SITE "F20";
LOCATE COMP "ddram_dm[3]" SITE "E18";
LOCATE COMP "ddram_ras_n" SITE "L2";
LOCATE COMP "ddram_we_n"  SITE "N1";
IOBUF PORT "ddram_ba[0]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_ba[1]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_ba[2]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_cas_n" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_cs_n"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_dm[0]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_dm[1]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_dm[2]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_dm[3]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_ras_n" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_we_n"  IO_TYPE=SSTL135_I SLEWRATE=FAST;

// from litex platform, termination disabled to reduce heat
LOCATE COMP "ddram_dq[0]"  SITE "T20";
LOCATE COMP "ddram_dq[1]"  SITE "U17";
LOCATE COMP "ddram_dq[2]"  SITE "T18";
LOCATE COMP "ddram_dq[3]"  SITE "U16";
LOCATE COMP "ddram_dq[4]"  SITE "U19";
LOCATE COMP "ddram_dq[5]"  SITE "T17";
LOCATE COMP "ddram_dq[6]"  SITE "U20";
LOCATE COMP "ddram_dq[7]"  SITE "U18";
LOCATE COMP "ddram_dq[8]"  SITE "L19";
LOCATE COMP "ddram_dq[9]"  SITE "M18";
LOCATE COMP "ddram_dq[10]" SITE "L17";
LOCATE COMP "ddram_dq[11]" SITE "L16";
LOCATE COMP "ddram_dq[12]" SITE "L20";
LOCATE COMP "ddram_dq[13]" SITE "M19";
LOCATE COMP "ddram_dq[14]" SITE "L18";
LOCATE COMP "ddram_dq[15]" SITE "M20";
LOCATE COMP "ddram_dq[16]" SITE "J20";
LOCATE COMP "ddram_dq[17]" SITE "K18";
LOCATE COMP "ddram_dq[18]" SITE "F19";
LOCATE COMP "ddram_dq[19]" SITE "K19";
LOCATE COMP "ddram_dq[20]" SITE "J19";
LOCATE COMP "ddram_dq[21]" SITE "J18";
LOCATE COMP "ddram_dq[22]" SITE "G20";
LOCATE COMP "ddram_dq[23]" SITE "K20";
LOCATE COMP "ddram_dq[24]" SITE "G16";
LOCATE COMP "ddram_dq[25]" SITE "H18";
LOCATE COMP "ddram_dq[26]" SITE "H16";
LOCATE COMP "ddram_dq[27]" SITE "F18";
LOCATE COMP "ddram_dq[28]" SITE "J16";
LOCATE COMP "ddram_dq[29]" SITE "E17";
LOCATE COMP "ddram_dq[30]" SITE "J17";
LOCATE COMP "ddram_dq[31]" SITE "H17";
IOBUF PORT "ddram_dq[0]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[1]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[2]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[3]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[4]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[5]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[6]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[7]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[8]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[9]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[10]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[11]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[12]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[13]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[14]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[15]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[16]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[17]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[18]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[19]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[20]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[21]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[22]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[23]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[24]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[25]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[26]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[27]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[28]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[29]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[30]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[31]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;

LOCATE COMP "ddram_dqs_n[0]" SITE "R18";
LOCATE COMP "ddram_dqs_n[1]" SITE "M17";
LOCATE COMP "ddram_dqs_n[2]" SITE "H20";
LOCATE COMP "ddram_dqs_n[3]" SITE "G18";
LOCATE COMP "ddram_dqs_p[0]" SITE "T19";
LOCATE COMP "ddram_dqs_p[1]" SITE "N16";
LOCATE COMP "ddram_dqs_p[2]" SITE "G19";
LOCATE COMP "ddram_dqs_p[3]" SITE "F17";
IOBUF PORT "ddram_dqs_n[0]" IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;
IOBUF PORT "ddram_dqs_n[1]" IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;
IOBUF PORT "ddram_dqs_n[2]" IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;
IOBUF PORT "ddram_dqs_n[3]" IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;
IOBUF PORT "ddram_dqs_p[0]" IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;
IOBUF PORT "ddram_dqs_p[1]" IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;
IOBUF PORT "ddram_dqs_p[2]" IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;
IOBUF PORT "ddram_dqs_p[3]" IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;

LOCATE COMP "ddram_clk_p[0]" SITE "P19";
LOCATE COMP "ddram_clk_p[1]" SITE "E16";
LOCATE COMP "ddram_clk_n[0]" SITE "P18";
LOCATE COMP "ddram_clk_n[1]" SITE "F16";
IOBUF PORT "ddram_clk_p[0]" IO_TYPE=SSTL135D_I SLEWRATE=FAST;
IOBUF PORT "ddram_clk_p[1]" IO_TYPE=SSTL135D_I SLEWRATE=FAST;
IOBUF PORT "ddram_clk_n[0]" IO_TYPE=SSTL135D_I SLEWRATE=FAST;
IOBUF PORT "ddram_clk_n[1]" IO_TYPE=SSTL135D_I SLEWRATE=FAST;

LOCATE COMP "ddram_cke"     SITE "N5";
LOCATE COMP "ddram_odt"     SITE "M3";
LOCATE COMP "ddram_reset_n" SITE "L1";
IOBUF PORT "ddram_cke"     IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_odt"     IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_reset_n" IO_TYPE=SSTL135_I SLEWRATE=FAST;

LOCATE COMP "eth_clocks_tx" SITE "C11";
LOCATE COMP "eth_clocks_rx" SITE "A9";
LOCATE COMP "eth_mdio" SITE "D9";
LOCATE COMP "eth_mdc" SITE "E6";
LOCATE COMP "eth_rx_ctl" SITE "A8";
LOCATE COMP "eth_rx_data[0]" SITE "E9";
LOCATE COMP "eth_rx_data[1]" SITE "C9";
LOCATE COMP "eth_rx_data[2]" SITE "D10";
LOCATE COMP "eth_rx_data[3]" SITE "E10";
LOCATE COMP "eth_tx_ctl" SITE "C10";
LOCATE COMP "eth_tx_data[0]" SITE "B10";
LOCATE COMP "eth_tx_data[1]" SITE "A10";
LOCATE COMP "eth_tx_data[2]" SITE "B11";
LOCATE COMP "eth_tx_data[3]" SITE "A11";
IOBUF PORT "eth_clocks_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "eth_clocks_rx" IO_TYPE=LVCMOS33;
IOBUF PORT "eth_mdio" IO_TYPE=LVCMOS33;
IOBUF PORT "eth_mdc" IO_TYPE=LVCMOS33;
IOBUF PORT "eth_rx_ctl" IO_TYPE=LVCMOS33;
IOBUF PORT "eth_rx_data[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "eth_rx_data[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "eth_rx_data[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "eth_rx_data[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "eth_tx_ctl" IO_TYPE=LVCMOS33;
IOBUF PORT "eth_tx_data[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "eth_tx_data[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "eth_tx_data[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "eth_tx_data[3]" IO_TYPE=LVCMOS33;

# Bitstream Flash device (module)
LOCATE COMP "spi_flash_sck" SITE "W1";
LOCATE COMP "spi_flash_cs_n" SITE "R2";
LOCATE COMP "spi_flash_mosi" SITE "W2";
LOCATE COMP "spi_flash_miso" SITE "V2";
LOCATE COMP "spi_flash_wp_n" SITE "Y2";
LOCATE COMP "spi_flash_hold_n" SITE "W1";
IOBUF PORT "spi_flash_sck" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_flash_cs_n" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_flash_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_flash_miso" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_flash_wp_n" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_flash_hold_n" IO_TYPE=LVCMOS33;

LOCATE COMP "dvo_r[0]" SITE "C14";
LOCATE COMP "dvo_r[1]" SITE "E14";
LOCATE COMP "dvo_r[2]" SITE "D14";
LOCATE COMP "dvo_r[3]" SITE "E13";
LOCATE COMP "dvo_r[4]" SITE "D13";
LOCATE COMP "dvo_r[5]" SITE "C13";
LOCATE COMP "dvo_r[6]" SITE "E11";
LOCATE COMP "dvo_r[7]" SITE "C12";
LOCATE COMP "dvo_g[0]" SITE "B19";
LOCATE COMP "dvo_g[1]" SITE "B20";
LOCATE COMP "dvo_g[2]" SITE "C17";
LOCATE COMP "dvo_g[3]" SITE "C16";
LOCATE COMP "dvo_g[4]" SITE "C15";
LOCATE COMP "dvo_g[5]" SITE "D16";
LOCATE COMP "dvo_g[6]" SITE "D15";
LOCATE COMP "dvo_g[7]" SITE "E15";
LOCATE COMP "dvo_b[0]" SITE "A14";
LOCATE COMP "dvo_b[1]" SITE "A15";
LOCATE COMP "dvo_b[2]" SITE "B15";
LOCATE COMP "dvo_b[3]" SITE "A16";
LOCATE COMP "dvo_b[4]" SITE "B16";
LOCATE COMP "dvo_b[5]" SITE "A17";
LOCATE COMP "dvo_b[6]" SITE "A19";
LOCATE COMP "dvo_b[7]" SITE "B17";
LOCATE COMP "dvo_de" SITE "A13";
LOCATE COMP "dvo_hsync_n" SITE "B13";
LOCATE COMP "dvo_vsync_n" SITE "B12";
LOCATE COMP "dvo_clk" SITE "D11";
IOBUF PORT "dvo_r[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_r[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_r[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_r[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_r[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_r[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_r[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_r[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_g[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_g[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_g[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_g[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_g[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_g[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_g[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_g[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_b[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_b[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_b[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_b[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_b[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_b[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_b[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_b[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_de" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_hsync_n" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_vsync_n" IO_TYPE=LVCMOS33;
IOBUF PORT "dvo_clk" IO_TYPE=LVCMOS33;
